<% include('../layouts/header.ejs') %>

    <h1>Forgot Password</h1>

    <% if(typeof message !=='undefined' ){ %>
        <h4>
            <%= message %>
        </h4>
        <% } %>
            <form action="/forget" method="post">
                <label for="email">Email</label>
                <input type="email" name="email" required><br>

                <input type="submit" value="Send Reset Link">

            </form>

            <% include('../layouts/footer.ejs') %>