<% include('../layouts/header.ejs') %>

<h1>Welcome, <%= admin.firstName %></h1>

<a href="/api/admin/dashboard">Dashboard</a>
<a href="/api/admin/logout">Logout</a>
<% include('../layouts/footer.ejs') %>